.note-editor {
    height: 100%;
}

.note-editor h2 {
    margin-bottom: 20px;
}

.dark-mode h2 {
    background-color: white;
}

.note-editor_notes {
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: scroll;
}