.search {

	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	padding: 50px;
}

.search input {
	border: none;
	background-color: rgb(233, 233, 233);
	width: 100%;
}

.search input:focus {
	outline: none;
}